<section class="main"
         [ngStyle.lt-sm]="{'padding': '0px 5%'}"
         fxLayout="column"
         fxLayoutAlign="center center">
    <section class="main__content">
        <app-intro></app-intro>
    </section>
    <section id="about"
             class="main__content">
        <app-about></app-about>
    </section>
    <section id="experience"
             class="main__content">
        <app-experience></app-experience>
    </section>
    <section id="work"
             class="main__content">
        <app-work></app-work>
    </section>
    <section id="contact"
             class="main__content">
        <app-contact></app-contact>
    </section>
</section>