@import "../../../../assets/styles/partials/colors";
.main {
  padding: 0px 15%;
  align-items: center;

  display: block;
    position: relative;
    z-index: 3;
  &__content {
    width: 100%;
    padding: 150px 0px;
    max-width: 1000px;
  }
}
.animated {
  visibility: visible !important;
}
.hide-on-init {
  visibility: hidden;
}
