@import "../../../../assets/styles/partials/colors";

.work {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__title {
    span {
      font-family: "Courier New", Courier, monospace;
      font-size: 16px;
      color: $secondary;
    }

    font-family: $calibre;
    font-size: 20px;
    color: $text;
  }

  &__content {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    .work-card {
      width: 350px;
      margin: 1rem;
      flex-direction: row;
      display: flex;
    }
    .work-card:hover {
      // transform: scale(2);
    }
  }
}
