/*
 * File: _colors.scss
 * Project: v1
 * File Created: Sunday, 2nd February 2020 6:08:42 pm
 * Author: Divyesh Jethwa
 * -----
 * Last Modified: Sunday, 3rd July 2022 5:45:58 pm
 * Modified By: Divyesh Jethwa<divyesh.jeth@gmail.com>
 * -----
 */

$primary: #121212;
$primary-light: #3d3d3d;
$primary-shadow: #222222;
$secondary: #ff9900;
$secondary-light: #816030;
$text: #cccccc;
$text-light: #aaaaaa;
$text-light-1: #909090;

$font-small: 13px;
$courier-new: "Courier New", Courier, monospace;
$calibre: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui,
  BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
