<section class="scene">
     <div class="card">
          <img class="face front"
               src="{{project.image}}"
               alt="Woopsie">
          <div class="face back">
               <p class="work-title">{{project.name}}</p>
               <!-- <p class="work-desc">{{project.description}}</p> -->
          </div>
     </div>

     <!-- <div class="skills">
          <img class="skill"
               src="{{project.image}}"
               alt="Woopsie">
          <img class="skill"
               src="{{project.image}}"
               alt="Woopsie">
          <img class="skill"
               src="{{project.image}}"
               alt="Woopsie">
          <img class="skill"
               src="{{project.image}}"
               alt="Woopsie">
     </div> -->
</section>