@import "../../../../../assets/styles/partials/colors";
.container {
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  height: 12rem;
  width: 18rem;
  border-radius: 0.8rem;
  position: absolute;
  .work-img {
    z-index: 1;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 0.8rem;
  }
  .work-title {
    color: $secondary;
  }
  .work-desc {
    color: $secondary;
  }
  .skills {
    z-index: 0;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    border-radius: 100%;
    width: 0rem;
    height: 0rem;
    transform: translate(-50%, -50%);
    transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
    .skill {
      display: grid;
      place-items: center;
      position: absolute;
      width: 2rem;
      height: 2rem;
      border: none;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
      box-shadow: 0 0 0rem -0.25rem var($secondary);

      &:hover {
        box-shadow: 0 0 1rem -0.25rem var(--background);
      }
      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ * {
        &:nth-child(1) {
          left: 62.5%;
          top: 18.75%;
        }

        &:nth-child(2) {
          left: 37.5%;
          top: 18.75%;
        }

        &:nth-child(3) {
          left: 18.75%;
          top: 37.5%;
        }

        &:nth-child(4) {
          left: 18.75%;
          top: 62.5%;
        }
      }
    }
  }
  &:hover .skills,
  .skills:focus-within {
    width: 10rem;
    height: 10rem;
  }
}
