<!-- <section class="container">
    <img class="work-img"
         src="{{project.image}}"
         alt="Woopsie">
    <p class="work-title">{{project.name}}</p>
    <p class="work-desc">{{project.description}}</p>

    <div class="skills">
        <img class="skill"
             src="{{project.image}}"
             alt="Woopsie">
        <img class="skill"
             src="{{project.image}}"
             alt="Woopsie">
        <img class="skill"
             src="{{project.image}}"
             alt="Woopsie">
        <img class="skill"
             src="{{project.image}}"
             alt="Woopsie">
    </div>
</section> -->