@import "../../../../../assets/styles/partials/colors";

.card {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: row;
  background-color: $primary-light;
  border-radius: 0.6rem;
  transition: 0.2s ease-in-out 0s;
  &-content {
    margin: 1.5rem;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .title {
      font-size: 16px;
      color: $secondary;
      margin: 1rem 0rem 0rem 0rem;
    }

    .details {
      font-size: 14px;
      color: $text-light;
      text-overflow: ellipsis;
      height: 40%;
    }

    .skills {
      display: inherit;
      flex-direction: row;
      gap: 15px;
      justify-content: start;
      .skill {
        img {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }

  .snapshot {
    img {
      height: 200px;
      width: 100%;
      border-radius: 0rem 0.6rem 0.6rem 0rem;
    }
  }
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
