<div class="aboutme"
     fxLayout="column"
     fxLayoutAlign="start start">
    <h3 class="aboutme__title  hide-on-init"
        animateOnScroll
        animationName="animated fadeInUp delay-p25"><span>I.</span>&nbsp; About Me</h3>

    <div class="aboutme__content"
         fxLayout="row wrap"
         fxLayout.lt-sm="column"
         fxFlex.lt-sm="100"
         fxLayoutAlign="space-between center"
         fxLayoutGap.lt-sm="150px">
        <div class="aboutme__content-description hide-on-init"
             [ngStyle.lt-sm]="{'width':'100%'}"
             [ngStyle.gt-sm]="{'width': '60%'}"
             animateOnScroll
             animationName="animated fadeInUp delay-p25">
            <div>
                <p>{{data.p1}}</p>
                <p>{{data.p2}}</p>
                <p>{{data.p3}}</p>
            </div>
            <ul>
                <li *ngFor="let skill of data.skills">{{skill}}</li>
            </ul>
        </div>
        <div animateOnScroll
             animationName="animated fadeInUp delay-p25"
             class="aboutme__content-image hide-on-init">
            <a href="">
                <div>
                    <div>

                    </div>
                    <img height="250px"
                         width="250px"
                         src="../../../../assets/images/v1.jpg"
                         alt="">
                </div>
            </a>
        </div>
    </div>
</div>