<div class="exp"
     fxLayout="column"
     fxLayoutAlign="start start">
    <h3 class="exp__title hide-on-init"
        animateOnScroll
        animationName="animated fadeInUp delay-p5"><span>II.</span>&nbsp; Experience</h3>

    <div class="tab-layout hide-on-init"
         animateOnScroll
         animationName="animated fadeInUp delay-p5">
        <div class="exp-tab">
            <button class="exp-tab-btn"
                    [ngClass]="{'exp-tab-btn-active': tab.isClicked}"
                    *ngFor="let tab of tabs"
                    (click)="openDetails(tab)">{{tab.name}}</button>
        </div>
        <div class="exp-content">
            <p class="title">{{currentTab.position}}
                &nbsp;<span>@ {{currentTab.name}}</span></p>
            <p class="time">{{currentTab.time}}</p>
            <ul>
                <li *ngFor="let point of currentTab.content">{{point}}</li>
            </ul>
        </div>
    </div>

</div>