@import "../../../../assets/styles/partials/colors";

.exp {
  width: 100% !important;
  
    &__title {
      span {
        font-family: "Courier New", Courier, monospace;
        font-size: 16px;
        color: $secondary;
      }
  
      font-family: $calibre;
      font-size: 20px;
      color: $text;
    }
  h1 {
    font-size: 60px;
    color: $text;
    margin-bottom: 0px !important;
  }
  p {
    font-size: 16px;
    color: $text-light;
  }
}
